@import "tailwindcss";

@font-face {
  font-family: 'SF Pro';
  src: url("./assets/font/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

body{
  font-family: 'SF Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-header {
  background-image: url('/src/assets/tamatave.jpg');
}

.bg-login {
  background-image: url('/src/assets/cocotier6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0 0 0.5rem;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}