@import "tailwindcss";

.bg-header {
  background-image: url('/src/assets/tamatave.jpg');
}

.bg-login {
  background-image: url('/src/assets/tamatave.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0 0 0.5rem;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}